.Rproj.user
.Rhistory
.RData
.Ruserdata
covid19-ger-rki-master
test
.DS_Store
RKI_COVID19.R
R-Wert_GitHub.R
Weitere Visualisierungstests.Rmd
Weitere-Visualisierungstests.html
Tagesbericht_Covid19.html
Corona_Dashboard BackUp 04-01.2020.Rmd
Corona_Dashboard.html
ftp
checkPacks.R
